@import "../../css/units.css";
@import "../../css/colors.css";

.wrapper {
    display: flex;
    flex-grow: 1;
    border: 1px solid $ui-black-transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    align-items: center;
    justify-content: center;
}

[dir="ltr"] .wrapper {
    border-top-right-radius: $space;
    border-bottom-right-radius: $space;
}

[dir="rtl"] .wrapper {
    border-top-left-radius: $space;
    border-bottom-left-radius: $space;
}

.body {
    background: #f6f6f6;
    overflow-y: 'scroll';
    align-items: center;
    justify-content: center;
}

.chart-box {
    display: flex;
    background-color: white;
    padding: 1em;
    border-radius: 0.3em;
    flex-grow: 1;
    flex-shrink: 1;
    width: 80%;
    min-width: 20em;
    margin: 0em 1em 1em 1.5em;
    justify-content: center;
    text-align: center;
    align-items: bottom;
}

.hchart-box {
    background-color: white;
    padding: 1em;
    border-radius: 0.3em;
    flex-grow: 1;
    flex-shrink: 1;
    width: 80%;
    min-width: 20em;
    height: 80%;
    margin: 0em 1em 1em 1.5em;
    justify-content: center;
    text-align: center;
    align-items: bottom;
}


.hueChartBox {
    background-color: white;
    display:flex;
    border-radius: 0.3em;
    flex-grow: 1;
    flex-shrink: 1;
    width: 90%;
    min-width: 30em;
    /* margin: 0em 1em 1em 1em; */
    justify-content: center;
    text-align: center;
    align-items: center;
}

.detail-area {
    display: flex;
    height: 200px;
    width: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: visible;
}

/* .viz-panel {
   height: 50%
} */

[dir="ltr"] .detail-area {
    border-left: 1px solid $ui-black-transparent;
}

[dir="rtl"] .detail-area {
    border-right: 1px solid $ui-black-transparent;
}

.mean-label {
    padding: 1em;
    background-color: "white";
    font-weight: 600;    
    border-radius: 0.3em;
    width: 1em;
}

.gaussianTooltip {
    /* background-color: white; */
    border-radius: 0.3em;
    width: 15em;
    border: 2px solid "#9966FF"
}

.gaussianTooltip p {
    font-size: 0.8rem;
}

.hue-stat {
    border: 2px solid $looks-light-transparent;
}

.key-stats {
    /* Outline */
    display: flex;
    position: absolute;
    margin-bottom: 1em;
    bottom: 0;
    flex-direction: row;
    background-color: #ffffff;
    /* border: 2px solid $looks-secondary; */
    /* Drop shadow */
    /* box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); */
    border-radius: 0.3em;
    /* Font color */
    color: black;
    /* Padding */
    padding-left: 4em;
    padding-right: 4em;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 1em;
    /* Width */
    width: 80%;
}

.chart-checkbox input[type="checkbox"] {
    /* Hide the default checkbox appearance */
    display: none;
}

.chart-checkbox {
    /* Style the container element */
    background-color: white;
    border: 1px solid $looks-light-transparent;
    width: 18px;
    /* Adjust width as needed */
    height: 18px;
    /* Adjust height as needed */
    cursor: pointer;
    /* Indicate interaction on hover */
}

.chart-checkbox:after {
    /* Style the "checkmark" element */
    content: "";
    display: block;
    width: 10px;
    /* Adjust width as needed */
    height: 10px;
    /* Adjust height as needed */
    border: 2px solid $looks-secondary;
    /* Adjust border color as needed */
    margin-top: 3px;
    /* Adjust position as needed */
    margin-left: 3px;
    /* Adjust position as needed */
    background-color: white;
    /* Adjust background color as needed */
    transition: background-color 0.2s ease-in-out;
    /* Add optional transition */
}

.chart-checkbox:checked:after {
    /* Style the "checkmark" when checked */
    background-color: $looks-secondary;
    /* Adjust color as needed */
}

/* SLIDERS */

.slider-value-background {
    background-color: white;
    padding: 2px;
    border-radius: 2px;
    border: 2px solid $looks-light-transparent;
    margin-top: -2px;
    margin-left: 5em;
}



/* Range */
.slider-value {
    /* display: inline-block; */
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
    color: #45BDE5;
    padding: 0.1em 0.1em 0.1em 0.1em;
    margin-left: 6em;
}

.zoom-pitch {
    /* Set a minimum width to prevent excessive shrinking */
    max-width: 4.5em;
    /* Remove default browser styling (optional) */
    -webkit-appearance: none;
}

.long-lat {
    max-width: 8em;
    -webkit-appearance: none;
}


input[type=range] {
    -webkit-appearance: none;
    width: 75%;
    margin-bottom: 1.5em;
}

input[type=range]:focus {
    outline: none;
}

/* input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.2em;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: $looks-light-transparent;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 30px;
    width: 10px;
    border-radius: 7px;
    background: $looks-secondary;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: $looks-light-transparent;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: $looks-light-transparent;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 30px;
    width: 10px;
    border-radius: 7px;
    background: $looks-secondary;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: $looks-light-transparent;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: $looks-light-transparent;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 30px;
    width: 10px;
    border-radius: 7px;
    background: $looks-secondary;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: $looks-light-transparent;
}

input[type=range]:focus::-ms-fill-upper {
    background: $looks-light-transparent;
} */


input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.2em;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #00B295;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 30px;
    width: 10px;
    border-radius: 7px;
    background: #00B295;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #8ddbce;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #8ddbce;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 30px;
    width: 8px;
    border-radius: 7px;
    background: #00B295;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #8ddbce;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #8ddbce;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 30px;
    width: 10px;
    border-radius: 7px;
    background: #00B295;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #8ddbce;
}

input[type=range]:focus::-ms-fill-upper {
    background: #8ddbce;
}


#range-wrap {
    position: relative;
}

input[type="range"] {
    margin-top: 1em;
}

.param-box {
    background-color: white;
    /* border: 2px solid #gggggg; */
    border-radius: 0.3em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    margin-top: 1em;
    max-width: 15em;
    width: 40em;
    padding: 0.4em;
}

.posterior-n-box {
    background-color: white;
    /* border: 2px solid #gggggg; */
    border-radius: 0.3em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    margin-top: 1em;
    max-width: 30em;
    padding: 0.5em;
}

.gaussian-button button:disabled {
    /* Styles for disabled state */
    background-color: #ccc; /* Grayed out */
    cursor: not-allowed; /* Change cursor to indicate non-interactivity */
    opacity: 0.6; /* Reduce opacity */
  }

.gaussian-button {
    padding: 0.75rem 0.75rem;
    border-radius: 0.3rem;
    background: $looks-secondary;
    /* border: 10px solid  $looks-secondary; */
    color: white;
    font-size: 0.75rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 2rem;
    text-align: center;
    /* margin: 0.25rem 1rem; */
    margin-left: 4em;
    margin-top: 1em;

    &:hover {
        box-shadow: 0px 2px 2px rgba(59, 5, 79, 0.2);
    }
}


.gaussian-button-row {
    text-align: center;
    display: flex;
    border-radius: 0.5em;
    padding: 0.5em;
}

.sbutton-row {
    font-weight: bolder;
    text-align: center;
    align-items: bottom;
    display: flex;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 1em;
    margin-left: 1.5em;
}

.button-row {
    font-weight: bolder;
    text-align: center;
    display: flex;
    background-color: $looks-secondary;
    border-radius: 0.5em;
    padding: 0.5em;
    max-width: 160em;
}

.panel-button {
    padding: 1rem;
    border-radius: 0.6rem;
    background-color: $looks-secondary;
    color: white;
    /* font-weight: 600; */
    font-size: 0.85rem;
    margin: 0.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 3rem;
    margin: 0.25rem 1rem;

    &:hover {
        box-shadow: 0px 5px 5px rgba(59, 5, 79, 0.2);
    }
}

[dir="ltr"] .button-icon-right {
    margin-left: 0.5rem;
}

[dir="rtl"] .button-icon-right {
    margin-right: 0.5rem;
}

[dir="ltr"] .button-icon-left {
    margin-right: 0.5rem;
}

[dir="rtl"] .button-icon-left {
    margin-left: 0.5rem;
}

/* reverse back arrow icon for RTL, don't reverse other connection icons */
[dir="rtl"] .button-icon-back {
    transform: scaleX(-1);
}

.active-button {
    padding: 1rem;
    border-radius: 0.6rem;
    background-color: #ffffff;
    color: $looks-secondary;
    /* font-weight: 600; */
    font-size: 0.85rem;
    margin: 0.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 3rem;
    margin: 0.25rem 1rem;


    &:hover {
        box-shadow: 0px 5px 5px rgba(59, 5, 79, 0.2);
    }
}



.spinButton {
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: $looks-secondary;
    color: white;
    font-weight: 600;
    font-size: 0.85rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 3rem;
    text-align: center;
    /* margin: 0.25rem 1rem; */
    width: 100%;
    &:hover {
        box-shadow: 0px 5px 5px rgba(59, 5, 79, 0.2);
    } 
}



.chart-label {
    border-radius: 0.5em;
    color: white;
    font-weight: 400;
    background-color: $looks-secondary;
    padding: 0.4em;
}

.data-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: bottom;
}

.chart-element {
    margin-right: 1em;
}

.samples-area {
    background-color: $looks-light-transparent;
    padding: 1em;
}

.data-col {
    padding: 1em;
    display: flex;
    flex-direction: column;
}